# URL publique de l'API (sans / final)
VITE_API_URL=http://localhost:4000/api

# Clé d'API partagée avec le serveur (doit être identique à API_KEY côté backend)
VITE_API_KEY=change_me_random_long_string
